<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    {{#if isLoggedIn}}
    <li class="nav-item">
      <button class='btn btn-logout'>Log Out</button>
    </li>
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href='/login'>Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/clientsignup'>Signup</a>
    </li>
    {{/if}}
  </ul>
  

    {{{body}}}
    {{#if isLoggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>