<form class="signup-form">
<p><input type="text" id='username' placeholder="Username"></p>
<p><input type="password"  id='password' placeholder="Password"></p>
<p><input type="password" id='confirm-password' placeholder="Confirm Password"></p>
<p><input type="text" id="first-name" placeholder="First Name"></p>
<p><input type="text" id="last-name" placeholder="Last Name"></p>
<p><input type="text" id='email' placeholder="Email"></p>
<p><input type="text"  id="city" placeholder="City"></p>
<p><input type="text" id="state"placeholder="State"></p>
<p><input type="text" class="single-field" id="zip" placeholder="Zipcode"></p>
<p><input type="hidden" id="role-id" value="1"></p>
<button class="submit-btn" id='signup-btn'>Create Account</button>
<h6 class="terms-condition">Are you <a href="/login">Signing in?</a></h6>
</form>

<script src='/js/signup.js'></script>