body {
  background-color: #f1f1f1;
}

.bg-home-main {
  background-image: url("/images/fitness.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-text {
  margin-bottom: 0%;
}

.card-div {
  padding-top: 5%;
}

